<div class="row row-cols-1 row-cols-md-3 g-4 m-2">
    @for(reservation of reservations; track $index){
    <div class="col">
        <div class="card bg-dark" (click)="showDetails(reservation)">
            <div class="card-body">
                <h5 class="card-title">{{ reservation.Make }} {{ reservation.Model }}</h5>
                <p class="card-text">
                    Car: {{reservation.PlateNumber}} <br />
                    Customer: {{ reservation.CustomerName }} <br />
                </p>
            </div>
        </div>
    </div>
    }
</div>

