<div class="d-flex flex-wrap bg-dark min-vh-100 rounded" id="imgDiv">
    <div class="d-flex flex-column justify-content-center align-items-center custom-width bg-dark">
        <h3 class="fw-bold text-light">Register</h3>
        <div class="w-75 d-flex justify-content-center">
            <button class="btn btn-light d-flex justify-content-around mt-3 p-2 w-75">
                <div class="mx-1">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="g-logo"><g><path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path><path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path><path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path><path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path><path fill="none" d="M0 0h48v48H0z"></path></g></svg>
                </div>
                <div class="mx-1 fw-bold">
                    Continue with Google
                </div>
            </button>
        </div>
        <div class="d-flex flex-wrap justify-content-center w-100 m-3">
            <div class="d-block bg-secondary w-25 text-center mt-3 opacity-50" style="height: 1px;"></div>
            <div class="mx-2 text-light">or</div>
            <div class="d-block bg-secondary w-25 text-center mt-3 opacity-50" style="height: 1px;"></div>
        </div>
        <form [formGroup]="registerForm" class="d-flex flex-column justify-content-center px-5 py-3 w-75">
            <input id="username" type="text" formControlName="username" placeholder="username" class="fw-bold text-color-website form-control my-1">
            <input id="email" type="text" formControlName="email" placeholder="email" class="fw-bold text-color-website form-control my-1">
            <input id="password" type="password" formControlName="password" placeholder="password" class="fw-bold text-color-website border my-1 form-control">
            <input id="confirmPassword" type="password" formControlName="confirmPassword" placeholder="confirm password" class="fw-bold text-color-website border my-1 form-control">
            <input type="submit" class="my-3 text-white fw-bold bg-color-website border border-0 p-1 rounded" value="Register" />
        </form>
        <a class="text-color-website text-decoration-none fw-bold" routerLink="/login">Having an account already? Login here</a>
    </div>
    <div class="w-50 bg-transparent">
    </div>
    
</div>
