.custom-file-upload{
    cursor: pointer;
    border: 1px solid #222;
    border-radius: 5px;
    padding: 10px 20px;
    transition: all 0.4s;
}

.custom-file-upload:hover{
    background-color: #222;
    color: white;
}