<div class="container my-5">
    <div class="row">
        <div class="col-md-10">
            <h1 class="text-center mb-2">Add New Car</h1>
            <form [formGroup]="newCarForm" (ngSubmit)="submit(newCarForm)"  >
                <input type="text" class="form-control my-2" placeholder="Plate Number" formControlName="plateNumber"/>
                <input type="text" class="form-control my-2" placeholder="Chassis Number" formControlName="chassisNumber"/>
                <input type="text" class="form-control my-2" placeholder="Make" formControlName="make"/>
                <input type="text" class="form-control my-2" placeholder="Color" formControlName="color"/>
                <input type="number" class="form-control my-2" placeholder="Rental Price" formControlName="rentalPrice"/>
                <input type="number" class="form-control my-2" placeholder="mileage" formControlName="mileage"/>
                <input type="text" class="form-control my-2" placeholder="Model" formControlName="model"/>
                <input type="text" class="form-control my-2" placeholder="Variant" formControlName="variant"/>
                <input type="number" class="form-control my-2" placeholder="Number Of Passengers" formControlName="numberOfPassengers"/>
                <label for="transmission">Transmission</label>
                <select formControlName="transmission" id="transmission" class="form-control my-2">
                    <option value="Manual">Manual</option>
                    <option value="Automatic">Automatic</option>
                </select>
                <label for="type">Type</label>
                <select formControlName="type" id="type" class="form-control my-2">
                  <option value="SUV">SUV</option>
                  <option value="Sedan">Sedan</option>
                  <option value="Hatchback">Hatchback</option>
                  <option value="Crossover">Crossover</option>
                  <option value="Sports">Sports</option>
                  <option value="Electric">Electric</option>
                  <option value="Convertible">Convertible</option>
              </select>
                <input type="text" type="submit" class="btn btn-secondary w-100">
              </form>
        </div>
        <div class="col-md-2 d-flex justify-content-center align-items-center">
          <h3 class="text-center" *ngIf="!carAdded">Please add the car to Upload the photo!</h3>
            <div *ngIf="carAdded" class="images-upload my-4 cursor-pointer">
                <label
                  for="file-upload"
                  class="custom-file-upload m-auto d-block w-50 text-center fw-bold"
                  >Upload Cover Image</label
                >
                <input
                  class="upload-img d-none"
                  id="file-upload"
                  type="file"
                  (change)="uploadPhoto($event)"
                />
              </div>

        </div>
    </div>

</div>


