.custom-file-upload{
    cursor: pointer;
    transition: all 0.4s;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.custom-file-upload i {
    font-size: 40px;
}
.custom-file-upload:hover{
    opacity: 1;
}