<div class="home">
<div class="rent">
    <app-rent></app-rent>
</div>

<div class="background">
    <div class="content">
    </div>
</div>

<div class="home-content">
    <h1 class="title">Rent first class.</h1>
    <h2 class="subtitleone">Pay economy.</h2>
    <h3 class="subtitletwo">Premium car rental at affordable rates. Worldwide.</h3>
</div>

<section class="home-section">
    <div class="home-card">
        <div class="home-icon">
            <svg width="24" height="24" viewBox="0 0 24 24">
                <path
                    d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1 17.93c-3.95-.49-7-3.85-7-7.93 0-.62.08-1.21.21-1.79L9 15v1c0 1.1.9 2 2 2v1.93zm6.9-2.54c-.26-.81-1-1.39-1.9-1.39h-1v-3c0-.55-.45-1-1-1H8v-2h2c.55 0 1-.45 1-1V7h2c1.1 0 2-.9 2-2v-.41c2.93 1.19 5 4.06 5 7.41 0 2.08-.8 3.97-2.1 5.39z">
                </path>
            </svg>
        </div>
        <div class="home-text">
            <h3 class="home-title">Global reach</h3>
            <p class="home-description">2,000+ SIXT stations in over 105 countries</p>
        </div>
    </div>
    <div class="home-card">
        <div class="home-icon">
            <svg width="24" height="24" viewBox="0 0 24 24">
                <path
                    d="M18.92 6.01C18.72 5.42 18.16 5 17.5 5h-11c-.66 0-1.21.42-1.42 1.01L3 12v8c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-1h12v1c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-8l-2.08-5.99zM7.5 16c-.83 0-1.5-.67-1.5-1.5S6.67 13 7.5 13s1.5.67 1.5 1.5S8.33 16 7.5 16zm9 0c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zM5.81 10l1.04-3h10.29l1.04 3H5.81z">
                </path>
            </svg>
        </div>
        <div class="home-text">
            <h3 class="home-title">Distinctive fleet</h3>
            <p class="home-description">From high-end convertibles to premium SUVs</p>
        </div>
    </div>
    <div class="home-card">
        <div class="home-icon">
            <svg width="24" height="24" viewBox="0 0 24 24">
                <path
                    d="M1 11h4v11H1zm15-7.75C16.65 2.49 17.66 2 18.7 2 20.55 2 22 3.45 22 5.3c0 2.27-2.91 4.9-6 7.7-3.09-2.81-6-5.44-6-7.7C10 3.45 11.45 2 13.3 2c1.04 0 2.05.49 2.7 1.25zM20 17h-7l-2.09-.73.33-.94L13 16h2.82c.65 0 1.18-.53 1.18-1.18 0-.49-.31-.93-.77-1.11L8.97 11H7v9.02L14 22l8.01-3c-.01-1.1-.9-2-2.01-2z">
                </path>
            </svg>
        </div>
        <div class="home-text">
            <h3 class="home-title">Exceptional service</h3>
            <p class="home-description">Stress-free, trustworthy, no hidden costs</p>
        </div>
    </div>
</section>


<!--========================================= More Ez-WHEELS section ===============================-->

<section class="morewheels p-5 main-gray-backgroundcolor">
  <div class="container d-flex flex-column justify-content-center align-items-center">
    <div class="col-12 text-center">
      <h6 class="title m-5 font-class">More EZ-Wheels</h6>
    </div>
    <div class="imagecontainer text-center">
      <div class="card justify-content-center align-items-center" style="width: 28rem;">
        <div class="card-body">
          <h5 class="card-title m-4">Ez-wheels Business</h5>
          <p class="card-text m-4">Custom mobility solutions for all businesses.</p>
          <a href="#" class="btn btn-primary bg-transparent m-4 mb-0 border-white rounded-pill">Register now</a>
        </div>
      </div>
    </div>

  </div>

</section>

<!--========================================= BIG IMAGE section ===============================-->

<section class="bigimage ">
  <div class="container flex-column d-flex justify-content-center align-items-center">
    <h2 class="white-color firstcontent">
      EZ-Wheels is considered one of the best car rental companies that <span class="align-self-center"> I have dealt with in Egypt and the Arab countries.</span>
    </h2>
    <p class="white-color secodcontent"> - Selvia, Cairo</p>
  </div>
</section>

<!--========================================= Topcities section ===============================-->
<section class="topcities m-5">
  <div class="container d-flex flex-column justify-content-start align-items-start">
    <div class="rightcontent col-md-4 col-sm-12">
      <h2 class="">EZ-WHEELS <br>CAR RENTAL <br> IN EGYPT</h2>
      <p class="text-justify">For your Egypt car rental, you can choose from a wide variety of vehicles. We have up-to-date models from some of the best car manufacturers in the world that can suit all kinds of travels. Choose from compact cars and sedans, sports cars and convertibles and SUVs. You can also tailor your Egypt rent a car with deals on add-ons and upgrades.</p>
    </div>
    <div class="leftcontent col-md-8 col-sm-12">
      <!-- Content for the left side -->
    </div>
  </div>
</section>


</div>