<div class="m-5 text-center">
  @if(reservation != null){
    <table class="table table-striped w-50 mx-auto bg-dark">
      <tbody>
        <tr>
          <th scope="row">Reservation ID</th>
          <td>{{ reservation[0].reservationNumber }}</td>
        </tr>
        <tr>
          <th scope="row">Car</th>
          <td>{{ reservation[0].make }} {{ reservation[0].model }}</td>
        </tr>
        <tr>
          <th scope="row">Plate Number</th>
          <td>{{ reservation[0].plateNumber }}</td>
        </tr>
        <tr>
          <th scope="row">Customer ID</th>
          <td>{{ reservation[0].customerId }}</td>
        </tr>
        <tr>
          <th scope="row">Customer Name</th>
          <td>{{ reservation[0].customerName }}</td>
        </tr>
        <tr>
          <th scope="row">From</th>
          <td>{{ reservation[0].startingDate }}</td>
        </tr>
        <tr>
          <th scope="row">To</th>
          <td>{{ reservation[0].endingDate }}</td>
        </tr>
        <tr>
          <th scope="row">PickUpLat</th>
          <td>{{ reservation[0].pickUpLatitude }}</td>
        </tr>
        <tr>
          <th scope="row">PickUpLong</th>
          <td>{{ reservation[0].pickUpLongitude }}</td>
        </tr>
        <tr>
          <th scope="row">DropOffLat</th>
          <td>{{ reservation[0].dropOffLatitude }}</td>
        </tr>
        <tr>
          <th scope="row">DropOffLong</th>
          <td>{{ reservation[0].dropOffLongitude }}</td>
        </tr>
        </tbody>
    </table>
  <button class="btn btn-danger w-25" type="button" (click)="deleteReservation()">Delete Reservation</button>
  }
  @else {
    <h1>No Reservation with this Number</h1>
  }
</div>