.table{
    border-color: var(--third-gray);
}
.table th{
    background-color: var(--main-black);
    color: var(--main-orange);
  }
  .table td{
    background-color: var(--main-black);
    color: var(--main-orange);
  }