.header {
    background-color: var(--main-orange);
    padding: 10px 20px;
    box-shadow: 0px 2px 4px rgba(119, 19, 19, 0.1);
}

.menu-toggle-button {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.logo-link {
    display: inline-block;
    vertical-align: middle;
}

.logo-image {
    height: 40px;
    opacity: 0.7;
    /* Adjust the opacity value to make it more transparent */
}

.customer-settings button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    font-size: 14px;
    color: var(--second-gray);
    transition: all 0.3s;
}

.customer-settings button:focus {
    outline: none;
}

.customer-settings button:hover {
    color: var(--main-orange);
    text-decoration: none;
}

.menu-icon {
    width: 24px;
    height: 24px;
}