
   


    <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
        <div class="container">
          <a class="navbar-brand" routerLink="/home">
            <img width="100"  src="../../../../assets/images/ez-wheels-white.png" alt="Your Logo" class="logo-image">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ms-auto">

              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
              </li>
              @if (!isLoggedIn){
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/login" routerLinkActive="active">Log in | Register</a>
                </li>
              }@else {
                <li class="nav-item">
                    <a class="nav-link cursor-pointer" aria-current="page" routerLink="/admin" routerLinkActive="active"  >Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/profile" routerLinkActive="active">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cursor-pointer" aria-current="page"  (click)="logOut()" >log out</a>
                </li>
              }
              



            </ul>
          </div>
        </div>
      </nav>



<!-- 
      <header class="header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-12">
                    <button class="menu-toggle-button" type="button" aria-label="Open global navigation menu">
                        <span class="menu-icon">
                            <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24">
                                <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" ></path>
                            </svg>
                        </span>
                    </button>
                    <a routerLink="/home" class="logo-link ms-5">
                      <img width="100"  src="../../../../assets/images/ez-wheels-white.png" alt="Your Logo" class="logo-image">
                    </a>
                </div>
                <div class="col-md-6 col-12 text-end">
                    <div id="customersettings_root" class="customer-settings">

                        <a class="nav-item text-white text-decoration-none" routerLink="managebookings" type="button">Manage bookings</a>
                        <a class="nav-item text-white text-decoration-none" type="button">Notifications</a>
                        @if (!isLoggedIn) {
                            <a class="nav-item text-white text-decoration-none" type="button" routerLink="login">Log in | Register</a>
                        } @else {
                            <a class="nav-item text-white text-decoration-none" (click)="this.authService.logOut()" type="button">Log out</a>
                            <a class="nav-item text-white text-decoration-none" routerLink="profile"  type="button">Profile</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </header> -->