
    <header class="header">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <button class="menu-toggle-button" type="button" aria-label="Open global navigation menu">
                        <span class="menu-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
                            </svg>
                        </span>
                    </button>
                    <a href="/" class="logo-link">
                        <img src="assets/images/ez-wheels.png" alt="Your Logo" class="logo-image">
                    </a>
                </div>
                <div class="col-md-8 text-end">
                    <div id="customersettings_root" class="customer-settings">
                        <button class="btn btn-link" type="button">Manage bookings</button>
                        <button class="btn btn-link" type="button">Notifications</button>
                        <button class="btn btn-link" type="button" routerLink="/register">Log in | Register</button>
                    </div>
                </div>
            </div>
        </div>
    </header>
