
<div class="card-wrapper p-1">
  <a class="text-decoration-none" [routerLink]="['/car-details', data.plateNumber]">
  <div class="card-img">
    <img [src]="data.photoUrl" class="w-100 h-100" alt="car-image">
  </div>
  </a>
  <div class="card-body">
    <div class=" d-flex justify-content-between">
      <div class="d-flex flex-column justify-content-center">
        <h4 class="car-title mb-0">{{ data.model }}</h4>
      <p class="car-color mb-0">{{ data.make }}</p>
      </div>
      <div class="price-car">
        <div class="d-flex flex-column">
          <span class="price"> {{ data.rentalPrice }} </span>
          <span class="per-day car-color align-content-end text-end">per Day</span>
        </div>

      </div>
    </div>

    <div class="d-flex  justify-content-between">
      <div class="car-info d-flex">
        <div class="info-item me-2">
          <i *ngIf="data.transmission == 1" class="fa-solid fa-a me-2"></i>
          <i *ngIf="data.transmission == 0" class="fa-solid fa-m me-2"></i>
        </div>
        <div class="info-item me-2">
          <i class="fa-solid fa-user me-1"></i>
          <span class="">{{ data.numberOfPassengers }}</span>
        </div>
        <div class="info-item me-2">
          <i class="fa-solid fa-gauge-high me-1"></i>
          <span class="">{{ data.mileage }}</span>
        </div>
        <div class="info-item me-2">
          <i class="fa-solid fa-brush me-2"></i>
          <span class="">{{ data.color }}</span>
        </div>
      </div>
      <div class="rent-btn text-center">
        <a class=" cursor-pointer text-decoration-none align-self-end fw-bold" (click)="rentCar()">Rent Now!</a>
      </div>

    </div>

  </div>
  <a *ngIf="mode == 'admin'" class="btn btn-info w-100" [routerLink]="['/edit-car', data.plateNumber]">Edit Car</a>
  <button *ngIf="mode == 'admin'" class="btn btn-danger w-100" (click)="delete()">Delete</button>
</div>
