<div class="card-wrapper p-1">
  <div class="vehicle-card text-white p-3 rounded">
    <div class="title">
      <h4 class="car-title">Car Title</h4>
      <p class="car-model">or similar | SUV</p>
    </div>
    <div class="btns mb-2">
      <div class="btn-item me-2">
        <i class="fa-solid fa-user me-2"></i>
        <span class="">4</span>
      </div>
      <div class="btn-item me-2">
        <i class="fa-solid fa-a me-2"></i>
        <span>Automatic</span>
      </div>
    </div>
    <div class="img">
      <img src="assets/images/chev.png" class="w-100" alt="zzz" />
    </div>
    <div class="car-details mt-3">
      <p class="miles-item">incl 4,851 miles</p>
      <p>EGP 1504632</p>
    </div>
  </div>
</div>
