.car-title{
    font-family: var(--heading-font-helveticanow);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    font-weight: 700;
}
.car-color{
    font-family: var(--heading-font-helveticanow);
    font-size: 12px;
    line-height: 18px;
    color: var(--third-gray);
}
.card-wrapper {
    border: 1px solid #dce0e0;
    border-radius: 5px;
    transition: all 0.4s;
    overflow: hidden;
    padding: 0!important;
    color:#222;
}
.card-wrapper:hover{
    box-shadow: 0 22px 40px rgba(0, 0, 0, .15);
    transform: translateY(-4px);
}
.price{
    font-size: 34px;
    padding: 0 !important;
    margin: 0 !important;
    color: #222;
}
.per-day{
    font-size: 11px;
    /* margin-top: -14px; */
}
.info-item{
    font-size: 12px;
}
.card-body{
    padding: 10px 20px;
}
.rent-btn{
    transition: all 0.4s;
}
.rent-btn a {
    color: #222 ;
}
.rent-btn:hover{
    transform: translateY(-4px);
}
.card-img{
    height: 200px;
}