/* You can add global styles to this file, and also import other style files */

/* ////////////?colors//////////////////// */

:root {
  --origin-blck: #000000;
  --main-black: #1a1a1a;
  --main-orange: #ff5f00;
  --main-gray: #ebebf0;
  --second-gray: #f4f4f9;
  --third-gray: #828287;
  --main-white: #ffffff;
}

/* ////////////?fonts//////////////////// */

@import url("https://fonts.googleapis.com/css2?family=Helvetica+Now:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

/*  heading font variables */
:root {
  --heading-font-helveticanow: "Helvetica Now", sans-serif;
  --heading-font-roboto-condensed: "Roboto Condensed", sans-serif;
}
/* main font for body  */
body {
  font-family: "Times New Roman", Times, serif;
  
}
.cursor-pointer {
  cursor: pointer;
}
*{
  box-sizing: border-box;
}