<h1 class="bg-dark text-center p-3 text-white">Edit Password</h1>
<div class="container">

<form [formGroup]="updatePasswordForm" (ngSubmit)="submitUserPassword(updatePasswordForm)" class="bg-secondary-subtle rounded m-auto d-flex flex-column justify-content-center my-4 px-5 py-3 w-50">

    <label for="oldPass">Old Password</label>
    <input id="oldPass" type="password" formControlName="oldPassword" class="fw-bold text-color-website border my-3 form-control">

    <label for="newPass">New Password</label>
    <input id="newPass" type="password" formControlName="newPassword" class="fw-bold text-color-website border my-3 form-control">

    <label for="confirmPass">Confirm New Password</label>
    <input id="confirmPass" type="password" formControlName="confirmNewPassword" class="fw-bold text-color-website border my-3 form-control">

    <input type="submit" class="my-3 fw-bold bg-color-website border border-0 p-1 rounded btn btn-success" value="Update" />
</form>
</div>